---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} l'ho fatto io. All rights reserved.
	<div class="social-links">
		
		<a href="https://twitter.com/renatotelefono" target="_blank">
			<span class="sr-only">Follow Astro on Twitter</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/twitter"
				><path
					fill="currentColor"
					d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"
				></path></svg
			>
		</a>
		<a href="https://github.com/renatotelefono" target="_blank">
			<span class="sr-only">Go to Astro's GitHub repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
		<a href="https://instagram.com/renatotelefono" target="_blank">
				<span class="sr-only">Follow Astro on Instagram</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" fill="currentColor">
					<path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.432.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.297-.048c.852-.04 1.432-.174 1.942-.372a3.9 3.9 0 0 0 1.417-.923 3.9 3.9 0 0 0 .923-1.417c.198-.51.333-1.09.372-1.942C15.99 13.555 16 13.283 16 11.199c0-2.172-.01-2.444-.048-3.297-.04-.852-.174-1.432-.372-1.942a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24 0.42C12.732.222 12.15.087 11.297.048S10.427 0 8 0zm0 1.6c2.148 0 2.417.01 3.25.048.78.038 1.205.166 1.485.276.376.145.64.319.92.599.28.28.453.544.598.92.11.28.238.705.276 1.485.038.834.048 1.102.048 3.25s-.01 2.417-.048 3.25c-.038.78-.166 1.205-.276 1.485a2.7 2.7 0 0 1-.599.92c-.28.28-.544.453-.92.598-.28.11-.705.238-1.485.276-.834.038-1.102.048-3.25.048s-2.417-.01-3.25-.048c-.78-.038-1.205-.166-1.485-.276a2.7 2.7 0 0 1-.92-.599c-.28-.28-.453-.544-.598-.92-.11-.28-.238-.705-.276-1.485C1.61 10.417 1.6 10.148 1.6 8s.01-2.417.048-3.25c.038-.78.166-1.205.276-1.485a2.7 2.7 0 0 1 .599-.92c.28-.28.544-.453.92-.598.28-.11.705-.238 1.485-.276C5.583 1.61 5.852 1.6 8 1.6zM3.2 8a4.8 4.8 0 1 0 9.6 0 4.8 4.8 0 0 0-9.6 0zm4.8 3.2a3.2 3.2 0 1 1 0-6.4 3.2 3.2 0 0 1 0 6.4zm3.5-6.4a1.2 1.2 0 1 0 0-2.4 1.2 1.2 0 0 0 0 2.4z"/>
				</svg>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
